.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1659.647924px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:72.000000px;}
.fs0{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.ya{bottom:43.666290px;}
.yb{bottom:43.666351px;}
.y10{bottom:123.809204px;}
.y11{bottom:123.809265px;}
.y8{bottom:150.523376px;}
.y9{bottom:150.523437px;}
.ye{bottom:203.952026px;}
.yf{bottom:203.952118px;}
.y6{bottom:257.380524px;}
.y7{bottom:257.380615px;}
.yc{bottom:284.094864px;}
.yd{bottom:284.094940px;}
.y4{bottom:364.237701px;}
.y5{bottom:364.237778px;}
.y3{bottom:429.720581px;}
.y2{bottom:477.926998px;}
.y1{bottom:501.111000px;}
.h2{height:48.937500px;}
.h3{height:53.542969px;}
.h1{height:65.250000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x3{left:7.200001px;}
.x8{left:81.555412px;}
.x6{left:88.801018px;}
.x9{left:95.174065px;}
.x4{left:97.090569px;}
.x5{left:340.089302px;}
.x7{left:351.526802px;}
.x2{left:386.475586px;}
.x1{left:399.300781px;}
.xa{left:542.667191px;}
.xf{left:555.803909px;}
.xe{left:565.575882px;}
.x10{left:570.226761px;}
.xc{left:578.769730px;}
.xb{left:817.518013px;}
.xd{left:829.330513px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2212.863898pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.ya{bottom:58.221720pt;}
.yb{bottom:58.221802pt;}
.y10{bottom:165.078939pt;}
.y11{bottom:165.079020pt;}
.y8{bottom:200.697835pt;}
.y9{bottom:200.697917pt;}
.ye{bottom:271.936035pt;}
.yf{bottom:271.936157pt;}
.y6{bottom:343.174032pt;}
.y7{bottom:343.174154pt;}
.yc{bottom:378.793152pt;}
.yd{bottom:378.793254pt;}
.y4{bottom:485.650269pt;}
.y5{bottom:485.650370pt;}
.y3{bottom:572.960775pt;}
.y2{bottom:637.235998pt;}
.y1{bottom:668.148000pt;}
.h2{height:65.250000pt;}
.h3{height:71.390625pt;}
.h1{height:87.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x3{left:9.600001pt;}
.x8{left:108.740550pt;}
.x6{left:118.401357pt;}
.x9{left:126.898753pt;}
.x4{left:129.454091pt;}
.x5{left:453.452403pt;}
.x7{left:468.702403pt;}
.x2{left:515.300781pt;}
.x1{left:532.401042pt;}
.xa{left:723.556254pt;}
.xf{left:741.071879pt;}
.xe{left:754.101176pt;}
.x10{left:760.302348pt;}
.xc{left:771.692973pt;}
.xb{left:1090.024017pt;}
.xd{left:1105.774017pt;}
}
