.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:72.000000px;}
.fs0{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.yc{bottom:43.666290px;}
.yd{bottom:43.666351px;}
.ya{bottom:123.809204px;}
.yb{bottom:123.809265px;}
.y8{bottom:203.952026px;}
.y9{bottom:203.952118px;}
.y6{bottom:284.094864px;}
.y7{bottom:284.094940px;}
.y4{bottom:364.237701px;}
.y5{bottom:364.237778px;}
.y3{bottom:425.347275px;}
.y2{bottom:477.926998px;}
.y1{bottom:501.111000px;}
.h2{height:48.937500px;}
.h3{height:53.542969px;}
.h1{height:65.250000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x7{left:277.768959px;}
.x8{left:293.671791px;}
.xa{left:307.143471px;}
.x6{left:318.705971px;}
.x4{left:324.464272px;}
.x2{left:386.475586px;}
.x1{left:412.464844px;}
.x3{left:438.812519px;}
.x9{left:595.072113px;}
.x5{left:622.691254px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.yc{bottom:58.221720pt;}
.yd{bottom:58.221802pt;}
.ya{bottom:165.078939pt;}
.yb{bottom:165.079020pt;}
.y8{bottom:271.936035pt;}
.y9{bottom:271.936157pt;}
.y6{bottom:378.793152pt;}
.y7{bottom:378.793254pt;}
.y4{bottom:485.650269pt;}
.y5{bottom:485.650370pt;}
.y3{bottom:567.129700pt;}
.y2{bottom:637.235998pt;}
.y1{bottom:668.148000pt;}
.h2{height:65.250000pt;}
.h3{height:71.390625pt;}
.h1{height:87.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x7{left:370.358612pt;}
.x8{left:391.562388pt;}
.xa{left:409.524628pt;}
.x6{left:424.941294pt;}
.x4{left:432.619029pt;}
.x2{left:515.300781pt;}
.x1{left:549.953125pt;}
.x3{left:585.083359pt;}
.x9{left:793.429484pt;}
.x5{left:830.255005pt;}
}
